apache-activemq-5.15.9/
apache-activemq-5.15.9-bin.tar.gz
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
 .idea/artifacts
 .idea/compiler.xml
 .idea/jarRepositories.xml
 .idea/modules.xml