<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

  <title>Customer</title>
</head>
<body>
  <h1>Order List</h1>
  <div th:each="order: ${orders}">
    <h3>Order:</h3>
    <div th:each="items: ${orders.items}">
      <h3>Car:</h3>
      <p th:text="${item.modelName}"></p>
      <h3>Name:</h3>
      <p th:text="${item.modelPrice}"></p>
    </div>
    <div>
      <form action="#" th:action="@{'/purchase/{item.itemId}'}" method="POST" >
        <button type="submit" class="btn btn-secondary float-right mr-1">Purchase</button>
      </form>
    </div>
  </div>
</body>
</html>